body {
	box-sizing: border-box;

	width: 1250px;
	margin: 0 auto;
	padding: 0 25px;	

	font-family: 'Roboto', sans-serif;
	color: #ffffff;

	background-image: url("../img/ice_cream_bg_1.png");
	background-repeat: no-repeat;
	background-position: center 0;
	background-color: #849d8f;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	overflow: hidden;
	width: 1px;
  	height: 1px;
  	margin: -1px;
}

.page-header {
	display: flex;

	width: 1200px;
}

.main-navigation {
	display: flex;
}

.background-slider {
	padding-top: 300px;
	padding-bottom: 90px;
}

.background-slide__header {
	margin-top: 0;

	text-align: center;
	font-size: 60px;
	line-height: 60.35px;
}

.banners {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;

	width: 1150px;
	margin: 0;
	padding: 0;
}

.banners__item {
	box-sizing: border-box;

	width: 560px;
	padding: 0 20px;
}

.banners__item--raspberry_bg {
	background-image: url("../img/malina_bg.png");
	background-repeat: no-repeat;
}

.banners__item--choco_bg {
	background-image: url("../img/choco_bg.png");
	background-repeat: no-repeat;
}

.banners__header {
	margin: 15px 0;

	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
}

.banners__message {
	font-size: 18px;
	line-height: 22px;

	margin: 0;
	padding: 0;
	margin-bottom: 115px;
}

.icecream-hits {
	width: 1150px;
}

.icecream-hits__list {
	box-sizing: border-box;

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;

	width: 1150px;
	margin: 0;
	padding: 40px 0;

	list-style: none;
}

.icecream-hits__item {
	width: 270px;
}

.icecream-hits__image {
	border-radius: 50%;
}

.icecream-hits__price {
	padding: 0;
	margin: 0;
	margin-top: -65px;

	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
	text-align: left;
	text-shadow: 1px 1px 3px rgba(49, 50, 53,0.5);
}

.icecream-hits__price--smaller {
	font-size: 30px;
}

.icecream-hits__feature {
	margin-bottom: -5px;
	padding: 0;
	padding-top: 10px;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
}

.icecream-hits__feature_underline {
	box-shadow: inset 0 -1px 0 #9db1a5;
}

.conception {
	box-sizing: border-box;
	width: 1150px;
	margin: 0;
	padding: 25px 0px;

	background-image: url("../img/vaflya_bg.jpg");
	background-repeat: repeat-x;

	border-radius: 10px;

	color: #323232;
}

.conception__header {
	margin: 0;
	padding-left: 20px;

	font-size: 24px;
	line-height: 30px;
}

.conception__list {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;
	list-style: none;
}

.conception__message {
	position: relative;
	box-sizing: border-box;
	width: 550px;
	margin: 0;
	padding-top: 20px;
	padding-left: 75px;

	font-size: 16px;
	line-height: 22px;
}

.conception__message-icon::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 15px;
	width: 50px;
	height: 50px;

	background-repeat: no-repeat;
}

.conception__message-icon_ice-cream::before {
	background-image: url("../svg/ice-cream.svg");

}

.conception__message-icon_cow::before {
	background-image: url("../svg/cow.svg");
}

.conception__message-icon_eco::before {
	background-image: url("../svg/eco.svg");
}

.conception__message-icon_thermometer::before {
	background-image: url("../svg/thermometer.svg");
}

.news-block {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;

	width: 1150px;
	margin: 0;
	padding: 0;
	padding-top: 40px;
	padding-bottom: 30px;
}

.news {
	box-sizing: border-box;
	margin: 0;
	padding: 25px 20px;
	width: 560px;

	border-radius: 10px;

	color: #323232;

	background-image: url("../img/klubnichny_bg.jpg");
}

.news__header {
	margin: 0;

	font-size: 16px;
	line-height: 22px;
}

.news__message {
	margin: 0;
	margin-top: 10px;
	margin-bottom: 45px;
}

.news__link {
	color: #323232;
	font-family: "Times New Roman", serif;
	font-size: 24px;
	line-height: 30px;
	text-decoration: none;

	box-shadow: inset 0 -2px 0 0 #323232;
}

.mailing {
	box-sizing: border-box;
	width: 560px;
	padding: 5px;

	background-image: repeating-linear-gradient(-45deg,  white 6px, white 12px, #92cdff 12px, #92cdff 18px, white 18px, white 24px, #fe9e90 24px, #fe9e90 30px);

	border-radius: 10px;
}

.mailing__container {
	box-sizing: border-box;
	width: 550px;
	padding: 0 20px;
	

	border-radius: 10px;

	background-color: #f8f7f4;
}

.mailing__message {
	margin: 0;
	padding: 30px 0;

	font-size: 16px;
	line-height: 22px;
	color: #5a5a5a;
}

.mailing__email {
	box-sizing: border-box;
	width: 370px;
	border: 1px solid #d3d3d2;
	margin-top: 10px;
	margin-bottom: 33px;
	padding: 10px 15px;
	border-radius: 5px;
}

.map {
	position: relative;
	width: 1250px;
	height: 430px;
	margin-left: -25px;

	background-image: url("../img/map_default.jpg");
	background-repeat: no-repeat;
}

.contacts-block {
	position: absolute;
	top: 65px;
	right: 80px;
	width: 300px;
	padding: 25px;

	border-radius: 10px;

	background-color: #ffffff;

	color: #323232;
	font-size: 14px;
	line-height: 20px;
}

.contacts-block__address-title {
	margin: 0;
}

.contacts-block__address {
	margin: 0;

	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.contacts-block__phone-title {
	margin: 0;
	margin-top: 15px;
	margin-bottom: 5px;
}

.contacts-block__phone {
	margin: 0;
	margin-bottom: 5px;

	font-family: "Times New Roman", serif;
	font-size: 18px;
	line-height: 22px;
}

.contacts-block__hours {
	font-family: "Times New Roman", serif;
	margin: 0;
}